*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside{
    width: 20rem;
    height: 100vh;
    background-color: midnightblue;
    color: white;
    padding: 2rem;
}

/* .logo{
    width: 10rem;
    margin-bottom: 2rem;
} */

aside .nav-header img{
    width: 12rem;
    margin-bottom: 3rem;
}


.nav-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-links li:hover{
    background-color: orange;
    color: white;
    padding: 1rem;
    border-radius: .5rem;

}

.nav-links li i{
    margin-left: 1rem;
    gap: 3rem;
    margin-right: 1rem;
}